<div class="messages">
  <div class="messagetop">
    <div class="messagename">
      <%= message.user.name %>
    </div>
    <div class="messagedate">
      <%= message.created_at %>

    </div>
  </div>
    <div class="messagecomment">
      <%= message.content %>
  </div>
</div>