<div class = "sidebar">
  <div class = "sidetop">
    <div class = "username">
      <a href = "#">Tom</a>
    </div>
    <div class = "chatcreate">
      <a href = "#">チャットを作成する</a>
    </div>
  </div>
  <div class = "sidebottom">
    <div class = "chatroom">
      <a href = "#">techroom1</a>
    </div>
    <div class = "chatroom">
      <a href = "#">techroom2</a>
    </div>
  </div>
</div>