<div class = "sidebar">
  <div class = "sidetop">
    <div class = "username">
      <%= link_to current_user.name,edit_user_path(current_user) %>
    </div>
    <div class = "chatcreate">
      <%= link_to "チャットを作成する",new_room_path %>
    </div>
  </div>
  <div class = "sidebottom">
    <% current_user.rooms.each do |room| %>
    <div class = "chatroom">
      <%= link_to room.name,room_messages_path(room) %>
    </div>
    <% end %>
  </div>
</div>